[Unit]
Description=Nexus ERP Auto-Update Bot - Verificar e instalar atualizações do Git a cada 60s
Documentation=https://github.com/ProgRibeiro/nexusERP

[Timer]
OnBootSec=10s
OnCalendar=*:*:00
OnUnitInactiveSec=60s
RandomizedDelaySec=2s
Persistent=true
Unit=nexus-erp-update.service

[Install]
WantedBy=timers.target
